@model TaskViewModel

<link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.1.0/chosen.css" />
<script src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(@Model.Task.Id != 0 ? "Update" : "Create") Task</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.Task.Id" hidden />
            <input asp-for="@Model.Task.ShortDescription" hidden />
            <input asp-for="@Model.Task.PayTypeId" hidden />
            <input asp-for="@Model.Task.Amount" hidden />
            <input asp-for="@Model.Task.ExpirationDate" hidden />

            <textarea hidden asp-for="@Model.Task.LongDescription" class="form-control border-0 shadow"></textarea>
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="@Model.Task.ShortDescription" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Task.ShortDescription" class="ms-2"></label>
                            <span asp-validation-for="@Model.Task.ShortDescription" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="@Model.Task.Amount" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Task.Amount" class="ms-2"></label>
                            <span asp-validation-for="@Model.Task.Amount" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="@Model.Task.CreatedDate" disabled class="form-control border-0 shadow" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                            <label asp-for="@Model.Task.CreatedDate" class="ms-2"></label>
                            <span asp-validation-for="@Model.Task.CreatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="@Model.Task.ExpirationDate" class="form-control border-0 shadow" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                            <label asp-for="@Model.Task.ExpirationDate" class="ms-2"></label>
                            <span asp-validation-for="@Model.Task.ExpirationDate" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select disabled asp-for="@Model.Task.PayTypeId" asp-items="@(Model.PayTypes)" class="form-select border-0 shadow">
                                <option disabled selected>--Select Pay Type--</option>
                            </select>
                            <label asp-for="@Model.Task.PayTypeId" class="ms-2"></label>
                            <span asp-validation-for="@Model.Task.PayTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Task.StateId" asp-items="@(Model.States)" class="form-select border-0 shadow">
                                <option disabled selected>--Select Finished State--</option>
                            </select>
                            <label asp-for="@Model.Task.PayTypeId" class="ms-2"></label>
                            <span asp-validation-for="@Model.Task.PayTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group-row">
                            <label asp-for="@Model.tagIds"></label>
                            <div class="col-sm-6 py-2">
                                @Html.ListBoxFor(model => model.tagIds, new MultiSelectList(Model.Tags, "Value", "Text"),
                                new { id = "tagsDropdown", multiple="multiple"})
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-danger form-control">Finish</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Task" asp-action="Index"
                                   class="btn btn-outline-primary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#tagsDropdown").chosen();
        });
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            theme: "advanced",
            readonly: 1
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}