@model List<RowiTechTask.Models.Task>


<div class="row pt-4 pb-3">
    <div class="col-6">
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Task" asp-action="UpSert" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create New Task
        </a>
    </div>
</div>
<div class="task-container">
    @foreach (var task in Model)
    {
    <div class="task-card">
            <div class="task-title"><a href="#">@task.ShortDescription</a></div>
        <div class="meta">
                @if (@task.State.StateName == "New")
                {
                    <span class="status new">@task.State.StateName</span>
                }
                else if (@task.State.StateName == "In Process")
                {
                    <span class="status in-work">@task.State.StateName</span>
                }
                else if (task.State.StateName == "Finished")
                {
                    <span class="status finished">@task.State.StateName</span>
                }
                else
                {
                    <span class="status failed">@task.State.StateName</span>
                }
            <div class="payment-meta"> @task.PayType.PayTypeName @task.CreatedDate.Date</div>
        </div>
            @if (task.PayType.PayTypeName == "Hourly")
            {
                <div class="payment">@string.Concat(@task.Amount, " ₽") / Hour</div>
            }
            else
            {
                <div class="payment">@string.Concat(@task.Amount, " ₽")</div>
            }
            <p class="long-description">@Html.Raw(@TextFormation.TextToFormat(@task.LongDescription))</p>
        <div class="tags">
                @foreach (var tag in task.Tags)
                {
                    <span class="tag">@tag.TagName</span>
                }
            </div>
            @if (task.State.StateName == "New")
            {
                <a asp-controller="Task" asp-action="Upsert" asp-route-id="@task.Id" class="btn btn-primary mx-3"><i class="bi bi-pencil-square"></i> Edit</a>
                <a asp-controller="Task" asp-action="Finish" asp-route-id="@task.Id" class="btn btn-danger mx-3"><i class="bi bi-trash3"></i> Finish</a>
            }
            else
            {
                <a asp-controller="Task" asp-action="Upsert" asp-route-id="@task.Id" class="btn btn-primary mx-3 disabled"><i class="bi bi-pencil-square"></i> Edit</a>
                <a asp-controller="Task" asp-action="Finish" asp-route-id="@task.Id" class="btn btn-danger mx-3 disabled"><i class="bi bi-trash3"></i> Finish</a>
            }
            <div class="extra-div"></div>
    </div>
    }
</div>