@model DetailsViewModel
@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> _userManager
@{
    string userId = _userManager.GetUserId(User);
}
<form method="post">
    <input asp-for="@Model.Task.Id" hidden />
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Task.ShortDescription</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                @*inline CSS!!!*@
                <div class="row" style="height: 30px">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="h4 row pl-2 my-3">
                            <p class="lh-sm">@Html.Raw(Model.Task.LongDescription)</p>
                        </div>
                        <div class="col-12 col-md-6 pb-4">
                            @foreach (var tag in Model.Task.Tags)
                            {
                                <span class="tag">@tag.TagName</span>
                            }
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                Post Date: @Model.Task.CreatedDate
                            </h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                Expiration Date: @Model.Task.ExpirationDate
                            </h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">Amount : @string.Concat(@Model.Task.Amount, " ₽")</h6>
                        </div>
                        
                    </div>
                </div>
            </div>
            <input asp-for="@Model.UserSolution.User.Id" value="userId" hidden />
            <div class="py-2 col-12">
                <label asp-for="@Model.UserSolution.Content" class="ms-2 text-muted"></label>
                    <textarea asp-for="@Model.UserSolution.Content" class="form-control border-0 shadow">@Model.UserSolution.Content</textarea>
                <span asp-validation-for="@Model.UserSolution.Content" class="text-danger"></span>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" class="btn btn-primary bg-gradient  w-50 py-2 text-uppercase fw-semibold">
                            @(Model.UserSolution.Id != 0 ? "Edit" : "Post") Solution
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12 col-md-6 pb-1" >
                        <button type="submit" disabled class="btn btn-primary bg-gradient  w-50 py-2 text-uppercase fw-semibold">
                            You need to log in first
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</form>
<div>
    @foreach (var solution in Model.Solutions.Where(x => x.UserId != userId))
    {
        <div class="card shadow border-0 my-4">
            <div class="card-header bg-secondary bg-gradient m-lg-0">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4 class="text-dark py-2">@TextFormation.SolutionHeader(@solution.User.FirstName,@solution.User.LastName) solution</h4>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <p class="display6">
                    @Html.Raw(@solution.Content)
                </p>
                <div class="row ps-2">
                    <h6 class="text-dark text-opacity-50  pb-2">
                        Post Date: @solution.CreatedDate
                    </h6>
                </div>
                @if (!string.IsNullOrEmpty(solution.Remark.Description))
                {
                    <div class="row ps-2">
                        <h6 class="text-dark text-opacity-50  pb-2">
                            Remark: @solution.Remark
                        </h6>
                    </div>
                }
            </div>
        </div>
        @if (User.IsInRole(SD.AdminRole))
        {
            
        }
    }
</div>


@section Scripts{
    <script>
        $(function () {
            $("#tagsDropdown").chosen();
        });
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });


    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}