@model DetailsViewModel
<form method="post">
    <input asp-for="@Model.Task.Id" hidden />
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Task.ShortDescription</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                @*inline CSS!!!*@
                <div class="row" style="height: 30px">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="h4 row pl-2 my-3">
                            <p class="lh-sm">@Html.Raw(Model.Task.LongDescription)</p>
                        </div>
                        <div class="col-12 col-md-6 pb-4">
                            @foreach (var tag in Model.Task.Tags)
                            {
                                <span class="tag">@tag.TagName</span>
                            }
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                Post Date: @Model.Task.CreatedDate
                            </h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                Expiration Date: @Model.Task.ExpirationDate
                            </h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">Amount : @string.Concat(@Model.Task.Amount, " ₽")</h6>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>
<div>
    @foreach (var solution in Model.Solutions)
    {
        <div class="card shadow border-0 my-4">
            <div class="card-header bg-secondary bg-gradient m-lg-0">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4 class="text-dark py-2">@TextFormation.SolutionHeader(@solution.User.FirstName,@solution.User.LastName) solution</h4>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <p class="display6">
                    @Html.Raw(@solution.Content)
                </p>
                <div class="row ps-2">
                    <h6 class="text-dark text-opacity-50  pb-2">
                        Post Date: @solution.CreatedDate
                    </h6>
                </div>
                @if (solution.Remark is not null)
                {
                    <div class="row ps-2">
                        <h6 class="text-dark text-opacity-50  pb-2">
                            Remark: @solution.Remark.Description
                        </h6>
                    </div>
                }
                @if (User.IsInRole(SD.AdminRole))
                {
                    <div>
                        <input hidden value="@solution.Id" />
                        <input type="text" />
                        <button class="main-button" onclick=postRemark>remark</button>
                    </div>
                }
            </div>
        </div>
    }
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/addRemark.js"></script>
}
